.product-category{
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	margin-bottom: 25px;
}
select#category{
	width: 50%;
	margin-left: auto;
	margin-right:auto;
}
.add-button{
	margin-top: 20px;
	margin-bottom: 20px;
}